
// BG for hego-image
@keyframes animate-glow {
  0% {
    background-position:0% 50%
  }
  50% {
    background-position:100% 50%
  }
  100% {
    background-position:0% 50%
  }
}

// Hero-image
@keyframes shadow-pop-tl {
  0% {
    transform:translateZ(50px) translateX(12px) translateY(12px);
    box-shadow:-12px -12px 20px -12px  rgba(0,0,0,.35);
  }
  100% {
    transform:translateZ(0) translateX(0) translateY(0);
    box-shadow:0 0 0 0 transparent;
  }
}

@keyframes drop-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-94px);
  }
}