@use 'utils' as u;

.button {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: u.rem(16);
    border-radius: 7px;
    transition: all 0.2s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    &__arrow-right {
        @include u.svg(14px, u.$color-white); 
        transition: all 0.2s ease 0s;
    }
    &--login {
        font-size: u.rem(14);
        padding: 2px 4px;
        @media (any-hover: hover){
            &:hover{
                color: u.$color-blue;
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-blue;
            color: #FFFFFF;
        }
    }
    &--started {
        box-shadow: 0px 0px 0px 1px #FFFFFF;
        padding: 7px 16px;
        font-size: u.rem(14);
        @media (any-hover: hover){
            &:hover{
                color: u.$color-blue;
                box-shadow: 0px 0px 0px 1px u.$color-blue;
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-blue;
            color: #FFFFFF;
        }
    }
    &--primary {
        background-color: u.$color-blue;
        padding: 14.5px 14px 14.5px 14px;
        width: 194px;
        position: relative;
        font-weight: 400;
        font-size: u.rem(16);
        line-height: 19px;
        transition: all 0.3s ease 0s;
        z-index: 5;
        &:hover {
            background-color: #0063CE;   
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-white;
            background-color: u.$color-blue;
        }
    }
    &--inherit {
        background-color: inherit;
        padding: 6px;
        justify-content: flex-start;
        width: 174px;
        &__arrow-right {
            @include u.svg(14px, u.$color-white);
                &:hover{
                    fill: u.$color-blue;
                }       
        }
        &:hover {
            color: #0063CE;   
            background-color: inherit;
            svg {
                fill: u.$color-blue;
                transform: scale(1.2);
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-blue;
            background-color: inherit;
        }
    }
}
