@use 'utils' as u;

.button {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: u.rem(16);
    border-radius: 7px;
    transition: all 0.2s ease 0s;
    &--login {
        font-size: u.rem(14);
        padding: 2px 4px;
        @media (any-hover: hover){
            &:hover{
                color: u.$color-blue;
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-blue;
            color: #FFFFFF;
        }
    }
    &--started {
        box-shadow: 0px 0px 0px 1px #FFFFFF;
        padding: 7px 16px;
        font-size: u.rem(14);
        @media (any-hover: hover){
            &:hover{
                color: u.$color-blue;
                box-shadow: 0px 0px 0px 1px u.$color-blue;
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-blue;
            color: #FFFFFF;
        }
    }
    &--primary {
        background-color: u.$color-blue;
        padding: 14.5px 14px 14.5px 14px;
        width: 194px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: 400;
        font-size: u.rem(16);
        line-height: 19px;
        transition: all 0.3s ease 0s;
        z-index: 5;
        &::after{
            content:'';
            background-image: url(../assets/svg/arrow-right.svg);
            @include u.background-image;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            //Opacity:0 ; + один вариант анимации
            opacity: 1;
            height: 12px;
            width: 17px;
            fill: u.$color-white;  
            transition: all 0.3s ease 0s;        
        }
        &:hover {
            text-indent: -6px;  
            background-color: #0063CE;   
            &::after {
              opacity: 1;
              transform: translateX(8px);
            }
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px u.$color-white;
            background-color: u.$color-blue;
        }
    }
}
