@use 'utils' as u;


.subtitile {
    font-weight: 400;
    font-size: u.rem(20);
    line-height: 160%;
    
    color: u.$base-font-color; 
    &--hero {
        color: #AEB4C8;
        font-size: u.rem(18);
        max-width: 392px;
        @include u.media('tablet', max) {
            font-size: u.rem(16);
        }
    }
    &--ease {
        max-width: 392px;
        @include u.media('tablet-wide', max) {
			max-width: 100%;
		}
    }
}