@use 'utils' as u;

.title {
    font-weight: 500;
    font-size: u.rem(40);
    line-height: 47px;
    background: linear-gradient(90deg, #FFFFFF -0.06%, #268EEC 100.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @include u.media('phone-wide', max) {
        font-size: u.rem(28);
        line-height: 33px;
    }
    &--animation {
        background: -moz-linear-gradient(left,  #E0E2E9 40%, #268EEC 51%, #E0E2E9 64%, #268EEC 64%);
        background: -webkit-linear-gradient(left,  #268EEC 40%,#E0E2E9 51%,#268EEC 64%,#268EEC 64%); 
        background-size: 400% 400%;
    
        -webkit-animation: background-animation 4s ease-in-out infinite;
        -moz-animation: background-animation 4s ease-in-out infinite;
        -o-animation: background-animation 4s ease-in-out infinite;
        animation: background-animation 4s ease-in-out infinite;  
        
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent; 
    }
}



