@use '../components/utils' as u;

.tools {
    &__container {
        //max-width: 1920px;
        padding-left: 0px;
        padding-right: 0px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        padding-left: 14px;
        padding-right: 14px;
        @include u.media('tablet-wide', max){
            padding-top: 160px;
            align-items: flex-start;
        }
        @include u.media('phone', max){
            //padding-top: 200px;
            margin-bottom: 48px;
            
        }
    }

    &__descr {
        text-align: center;
        margin-bottom: 24px;
        @include u.media('phone', max){
            align-self: start;
        }
        
    }

    &__title {
        text-align: center;
        margin-bottom: 32px;
        @include u.media('phone', max){
            align-self: start;
            margin-bottom: 24px;
        }
    }

    &__subtitle {
        text-align: center;
        max-width: 600px;
        font-size: u.rem(18);
        @include u.media('tablet-wide', max){
            text-align: left;
        }
        @include u.media('phone', max){
            font-weight: 700;
            font-size: u.rem(16);
            text-align: left;
        }
    }
}

