@use '../components/utils' as u;

*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: u.$base-font-size;
  background-color: u.$color-bg;
}

body {
  font-family: u.$primary-font;
  color: u.$base-font-color;
}

.container {
  width: 100%;
  max-width: calc(1238px + u.$mobile-container-padding-x);
  padding: {
    left: u.$mobile-container-padding-x;
    right: u.$mobile-container-padding-x;
  }
  margin: {
    left: auto;
    right: auto;
  }
  &--scroll {
    max-width: 1366px;
    overflow: auto;
    padding: {
      left: u.$mobile-container-padding-x;
      right: 0px;
    }
    margin: {
      left: auto;
      right: 0px;
    }
    @include u.media('desktop-wide') {
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}
