

// COLORS
$color-blue: #0077E2;

$color-white: #fff;
$color-black: #000000;
$color-bg: #191B25;

// FONTS
$primary-font: "Rubik";
$base-font-size: 18px;
$base-font-color: #AEB4C8;

// OFFSET
$mobile-container-padding-x: 16px;

